<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{title}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a routerLink="/dashboard">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a>{{ title }}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row p-2 filter-cont mb-4">
                        <div class="col-md-2 pl-0">
                            <div class="form-group pt-0">
                                <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" (change)="setDate()" name="dayselect1" [(ngModel)]="dayselect" #dayselect1="ngModel" [items]="dayslist" bindLabel="name" [clearable]="false" bindValue="value" placeholder="Select Days"></ng-select>
                            </div>
                        </div>
                        <div class="col-md-2 pl-0">
                            <div class="form-group pt-0">
                                <label>Start Date &nbsp; &nbsp;</label>
                                <!-- <dp-date-picker [(ngModel)]="startDate"></dp-date-picker> -->
                                <input type="date" id="start" [(ngModel)]="startDate" />
                            </div>
                        </div>
                        <div class="col-md-2 pl-0">
                            <div class="form-group pt-0">
                                <label>End Date &nbsp; &nbsp;</label>
                                <!-- <dp-date-picker [(ngModel)]="endDate"></dp-date-picker> -->
                                <input type="date" [(ngModel)]="endDate" />
                            </div>
                        </div>
                        <div class="col-md-2 pl-0">
                            <div class="form-group pt-0">
                                <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" (change)="setDate()" name="typeselect1" [(ngModel)]="typeselect" #typeselect1="ngModel" [items]="userslist" bindLabel="name" [clearable]="false" bindValue="value" placeholder="Select User Type"></ng-select>
                            </div>
                        </div>
                        <div class="">
                            <button class="btn btn-secondary btn-round" (click)="filterDate()">
                                Filter Data
                            </button>
                        </div>
                        &nbsp;
                        <div class="">
                            <button class="btn btn-secondary btn-round" (click)="exportexcel()">
                                Download Excel
                            </button>
                        </div>
                        <div class="photos-list-item col-md-3 col-sm-6 col-12">
                            <label class="fileupload-label" for="upload">
                                <input #file type="file" (change)="fileChangeListener($event)" class="file-upload-input" />
                            </label>
                        </div>
                        <div class="ml-auto">
                            <button class="btn btn-secondary btn-round" id="addModalOpen" (click)="createData(editModal)">
                                <i class="fa fa-plus"></i>
                                &nbsp;Add User
                            </button>
                        </div>
                    </div>
                    <div class="row p-2 filter-cont mb-4">
                        <div class="col-md-2 pl-0">
                            <div class="form-group pt-0">
                                <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" (change)="setDate()" name="isMobileVerified1" [(ngModel)]="isMobileVerified" #isMobileVerified1="ngModel" [items]="banneduser" bindLabel="name" [clearable]="false" bindValue="value" placeholder="Select verified or not"></ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="record-table" [dtOptions]="dtOptions" datatable class="display table table-striped table-hover w-100 table-head-bg-secondary" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>User Type</th>
                                    <th>Company Name</th>
                                    <th>Email</th>
                                    <th>Tel</th>
                                    <th>Mobile</th>
                                    <th>Verified</th>
                                    <th>Blocked</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="userList?.length != 0">
                                <tr *ngFor="let user of userList ">
                                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                                    <td>{{ user.userType }}</td>
                                    <td *ngIf="user.companyID">{{ user.companyID.name }}</td>
                                    <td *ngIf="!user.companyID"></td>
                                    <td>{{ user.email }}</td>
                                    <td> {{ user.mobileNo }} </td>
                                    <td>
                                        <span class="badge badge-pill badge-success" *ngIf="user.isEmailVerified == 1 || user.isMobileVerified == 1">Verified</span>
                                        <span class="badge badge-pill badge-warning" *ngIf="user.isEmailVerified == 0 || user.isMobileVerified == 0">Not Verified</span>
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-danger" *ngIf="user.isBanUser == 1">Blocked</span>
                                        <span class="badge badge-pill badge-success" *ngIf="user.isBanUser == 0">Unblocked</span>
                                    </td>
                                    <td>
                                        <div class="btn-group datatable-dropdown">
                                            <button type="button" class="btn btn-secondary" (click)="editDetail(editModal,user._id)">Edit</button>
                                            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                                                <button class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle></button>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <button ngbDropdownItem (click)="deleteConfirmation(user._id)">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="userList?.length == 0">
                                <tr>
                                    <td colspan="7" class="no-data-available text-center">No matching records found</td>
                                </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title"> {{ editing ? "Edit" : "Add" }} User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="setsubmit()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="row form" *ngIf="requestDetail" id="editForm" [formGroup]="editForm" (ngSubmit)="updateRequest()">
            <input type="hidden" formControlName="_id" class="form-control">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">First Name</label>
                            <input type="text" formControlName="firstName" placeholder="First Name" class="form-control" />
                            <div *ngIf="submitted && f.firstName.errors">
                                <error-label *ngIf="f.firstName.errors.required" [control]="f.firstName"></error-label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Last Name</label>
                            <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control" />
                            <div *ngIf="submitted && f.lastName.errors">
                                <error-label *ngIf="f.lastName.errors.required" [control]="f.lastName"></error-label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label class="text-primary">Email</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="Email">
                            <div *ngIf="submitted && f.email.errors">
                                <error-label *ngIf="f.email.errors.required" [control]="f.email"></error-label>
                                <error-label *ngIf="f.email.errors.email" [control]="f.email"></error-label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Phone Number</label>
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" formControlName="mobileNo" placeholder="Mobile No" class="form-control" digitOnly>
                                </div>
                            </div>
                            <label class="error" *ngIf="(submitted &&  f.mobileNo.touched && f.mobileNo.invalid && f.mobileNo.errors)">
                                Please enter a value
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Company</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="companyID" [clearable]="false" [items]="companyList" bindLabel="name" bindValue="_id" [class.filled]="f.companyID._id" placeholder="Company"></ng-select>
                            <div *ngIf="submitted && f.companyID.errors">
                                <error-label *ngIf="f.companyID.errors.required" [control]="f.companyID"></error-label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">Department</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="departmentId" [clearable]="false" [items]="Departmentlist" bindLabel="name" bindValue="_id" [class.filled]="f.departmentId._id" placeholder="Department"></ng-select>
                            <div *ngIf="submitted && f.departmentId.errors">
                                <error-label *ngIf="f.departmentId.errors.required" [control]="f.departmentId"></error-label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">User Type</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="userType" [clearable]="false" [items]="userTypeList" bindLabel="name" bindValue="value" [class.filled]="f.userType.value" placeholder="User type"></ng-select>
                            <div *ngIf="submitted && f.userType.errors">
                                <error-label *ngIf="f.userType.errors.required" [control]="f.userType"></error-label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default dropdown">
                            <label class="text-primary">BanUser</label>
                            <ng-select class="form-control floating-input input-border-bottom pl-1 pr-1 pb-0 pt-0" formControlName="isBanUser" [clearable]="false" [items]="banneduser" bindLabel="name" bindValue="value" [class.filled]="f.isBanUser.value" placeholder="User type"></ng-select>
                            <div *ngIf="submitted && f.isBanUser.errors">
                                <error-label *ngIf="f.isBanUser.errors.required" [control]="f.isBanUser"></error-label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Close click')" (click)="setsubmit()">Close</button>
        <app-submit-button [submitted]="button" (click)="updateRequest()"> {{ editing ? "Update" : "Add" }} </app-submit-button>
    </div>
</ng-template>
